@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
        body
        {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
        }
        .wraper
        {
            display: flex;
        }
        .menu
        {
            display: flex;
            flex-direction: column;
            width: 15vw;
            height: 100vh;
            justify-content: space-around;
            background: rgba(128, 128, 128, 0.22);
            position: fixed;
        }
        .points
        {
            display: flex;
            flex-direction: column;
            width: 15vw;
            height: 50vh;
            font-size: 1.5rem;
        }
        .point1
        {
            display: flex;
            align-items: center;
            justify-content: center;   
            width: 15vw;
            height: 5vh;
            border-left: 4px solid rgb(52, 51, 51);
        }
        .point2
        {
            display: flex;
            align-items: center;
            justify-content: center; 
            width: 15vw;
            height: 5vh;
            color: rgba(68, 68, 68, 0.386);
            border-left: 4px solid rgba(52, 51, 51, 0);
        }
        .point3
        {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15vw;
            height: 5vh;
            color: rgba(68, 68, 68, 0.386);
            border-left: 4px solid rgba(52, 51, 51, 0);
        }
        .point4
        {
            display: flex;
            align-items: center;
            justify-content: center; 
            width: 15vw;
            height: 5vh;
            color: rgba(68, 68, 68, 0.386);
            border-left: 4px solid rgba(52, 51, 51, 0);
        }
        .point5
        {
            display: flex;
            align-items: center;
            justify-content: center;  
            width: 15vw;
            height: 5vh;
            color: rgba(68, 68, 68, 0.386);
            border-left: 4px solid rgba(52, 51, 51, 0);
        }
        .point6
        {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15vw;
            height: 5vh;
            color: rgba(68, 68, 68, 0.386);
            border-left: 4px solid rgba(52, 51, 51, 0);
        }
        .point2:hover
        {
            border-left: 4px solid rgb(52, 51, 51);
            color: black;
            cursor: pointer;
        }
        .point3:hover
        {
            border-left: 4px solid rgb(52, 51, 51);
            color: black;
            cursor: pointer;
        }
        .point4:hover
        {
            border-left: 4px solid rgb(52, 51, 51);
            color: black;
            cursor: pointer;
        }
        .point5:hover
        {
            border-left: 4px solid rgb(52, 51, 51);
            color: black;
            cursor: pointer;
        }
        .point6:hover
        {
            border-left: 4px solid rgb(52, 51, 51);
            color: black;
            cursor: pointer;
        }
        .logo
        {
            display: flex;
            width: 15vw;
            height: 10vh;
            align-items: flex-start;
            justify-content: center;
            font-size: 2rem;
            font-weight: 600;
        }
        .logout
        {
            display: flex;
            width: 15vw;
            height: 5vh;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            color: rgba(68, 68, 68, 0.386);
            border: none;
            background: none;
            border-left: 4px solid rgba(52, 51, 51, 0);
        }
        .logout:hover
        {
            border-left: 4px solid rgb(52, 51, 51);
            color: black;
            cursor: pointer;
        }
        .main
        {
            display: flex;
            flex-direction: column;
            width: 60vw;
            height: 100vh;
            align-items: center;
            border-right: 2px solid rgba(128, 128, 128, 0.327);
            margin-left: 15vw;
        }
        .header
        {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            width: 50vw;
            height: 8vh;
            align-items: flex-end;
        }
        .search
        {
            height: 2vh;
            width: 12vw;
            height: 3vh;
            border: none;
            background: rgba(128, 128, 128, 0.22);
        }
        .button_for_turn_back
        {
            border: none;
            background: none;
            font-size: 2.5rem;
            display: flex;
        }
        .button_for_turn_back:hover
        {
            cursor: pointer;
        }
        .head
        {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            height: 18vh;
            width: 50vw;
            margin-bottom: 40px;
        }
        .submenu
        {
            display: flex;
            justify-content: left;
            align-items: flex-end;
            width: 50vw;
            height: 3vh;
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        .submenu2
        {
            margin-left: 2vh;
            color: rgba(68, 68, 68, 0.386);
        }
        .submenu3
        {
            margin-left: 2vh;
            color: rgba(68, 68, 68, 0.386);
        }
        .submenu4
        {
            margin-left: 2vh;
            color: rgba(68, 68, 68, 0.386);
        }
        .submenu2:hover
        {
            color: black;
            cursor: pointer;
        }
        .submenu3:hover
        {
            color: black;
            cursor: pointer;
        }
        .submenu4:hover
        {
            color: black;
            cursor: pointer;
        }
        .info
        {
            display: flex;
            flex-direction: column;
            width: 50vw;
            height: 69vh;
            justify-content: space-around;
            align-items: center;
        }
        .banner
        {
            border: 2px solid rgba(68, 68, 68, 0.386);
            width: 50vw;
            height: 15vh;
            display: flex;
        }
        .banner1
        {
            background: url(DNA.jpeg);
            background-size: cover;
            width: 50vw;
            height: 15vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .banner2
        {
            border: 2px solid rgba(68, 68, 68, 0.386);
            width: 50vw;
            height: 15vh;
            display: flex;
        }
        .banner3
        {
            border: 2px solid rgba(68, 68, 68, 0.386);
            width: 50vw;
            height: 15vh;
            display: flex;
        }
        .schedule
        {
            height: 100vh;
            width: 25vw;
        }
        .calendar-wrapper 
        {
            height: 40vh;
            width: 360px;
            margin-top: 2vh;
            background: #fff;
        }
        table 
        {
            clear: both;
            width: 100%;
            color: #444;
        }
        td 
        {
            height: 48px;
            text-align: center;
            vertical-align: middle;
            width: 14.28571429%;
        }
        thead td 
        {
            border: none;
            color: #28283b;
            text-transform: uppercase;
            font-size: 1.5em;
        }
        td.not-current
        {
            color: #c0c0c0;
        }
        td.today
        {
            color: #fdf9f9;
            background: black;
        }
        #btnPrev
        {
            float: left;
            margin-bottom: 5px;
        }
        #btnPrev:before 
        {
            content: '\f104';
            font-family: FontAwesome;
            padding-right: 4px;
        }
        #btnNext
        {
            float: right;
            margin-bottom: 5px;
        }
        #btnNext:after 
        {
            content: '\f105';
            font-family: FontAwesome;
            padding-left: 4px;
        }
        #btnPrev,
        #btnNext 
        {
            background: transparent;
            border: none;
            outline: none;
            font-size: 1em;
            color: #c0c0c0;
            cursor: pointer;
            font-family: sans-serif;
            text-transform: uppercase;
            transition: all 0.3s ease;
        }
        #btnPrev:hover,
        #btnNext:hover 
        {
            color: #28283b;
            font-weight: bold;
        }
        .calendar
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .word
        {
            margin-top: 3vh;
        }
        .timing
        {
            height: 45vh;
            width: 20vw;
            display: flex;
            border-top: 2px solid rgba(128, 128, 128, 0.327);
        }
        .timetable_title
        {
            margin-bottom: 2vh;
            font-size: 1.5rem;
            font-weight: 500;
        }
        .hour
        {
            width: 5vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color: rgba(68, 68, 68, 0.386);
            
        }
        .description
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .color
        {
            color: blue;
            margin-right: 10px;
        }
        .color:hover
        {
            color: yellow;
        }
        .space
        {
            margin-right: 10px;
        }
        .point_word
        {
            display: flex;
            width: 7vw;
            justify-content: left;
        }
        .personalifo
        {
            display: flex;
        }
        .avatar
        {
            font-size: 4rem;
            margin-right: 10px;
            background: rgba(128, 128, 128, 0.34);
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .data
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .name
        {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 7px;
        }
        .city
        {
            color: rgba(68, 68, 68, 0.386);
        }
        .input
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .loop
        {
            font-size: 2.5rem;
            border: none;
            background: none;
            display: flex;
        }
        .loop:hover
        {
            cursor: pointer;
        }
        h1
        {
            font-size: 3rem;
            font-weight: 500;
        }
        h6
        {
            font-weight: 500;
            border-bottom: 1px solid rgba(0, 0, 0, 0);
        }
        h6:hover
        {
            cursor: pointer;
            border-bottom: 1px solid black;
        }
        .text1
        {
            color: white;
            font-size: 2rem;
            font-weight: 500;
            margin-left: 30px;
        }
        .bottom
        {
            color: white;
            margin-left: 30px;
            display: flex;
            width: fit-content;
        }
        .footter
        {
            border-bottom: 1px solid rgba(255, 255, 255, 0);
        }
        .footter:hover
        {
            cursor: pointer;
            border-bottom: 1px solid white;
        }
        .someinfo
        {
            margin-left: 60px;
        }
        .image
        {
            background: url(geometry.jpeg);
            background-size: cover;
            height: 15vh;
            width: 20vw;
        }
        .maininfo
        {
            color: rgba(68, 68, 68, 0.386);
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .text
        {
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: 40px;
        }
        .someinfo2
        {
            margin-left: 60px;
        }
        .image2
        {
            background: url(flowcast.png);
            background-size: cover;
            height: 15vh;
            width: 20vw;
        }
        .maininfo2
        {
            color: rgba(68, 68, 68, 0.386);
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .text2
        {
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: 40px;
        }
        .someinfo3
        {
            margin-left: 60px;
        }
        .image3
        {
            background: url(flowcast1.png);
            background-size: cover;
            height: 15vh;
            width: 20vw;
        }
        .maininfo3
        {
            color: rgba(68, 68, 68, 0.386);
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .text3
        {
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: 40px;
        }
        .word
        {
            font-size: 1.5rem;
            font-weight: 500;
        }
        .timetable
        {
            margin-left: 2vw;
        }
        .description1
        {
            background: rgba(68, 68, 68, 0.128);
            width: 15vw;
            height: 6vh;
            display: flex;
        }
        .img
        {
            height: 5vh;
            width: 3vw;
            background: url(pen.jpeg);
            background-size: cover;
            margin: 5px;
        }
        .contetnt
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 5px;
        }
        .hdr
        {
            color:  rgba(68, 68, 68, 0.386);
        }
        .worktype
        {
            font-weight: 500;
        }
        .img1
        {
            height: 5vh;
            width: 3vw;
            background: url(java.png);
            background-size: cover;
            margin: 5px;
        }
        .img2
        {
            height: 5vh;
            width: 3vw;
            background: url(marketing.jpeg);
            background-size: cover;
            margin: 5px;
        }
        .button
        {
            display: none;
        }
        .button1
        {
            display: none;
        }
        @media (min-width: 350px) and (max-width: 768px)
        { 
            .menu
            {
                transform: translateX(-200px);
                transition: all .5s ease-out;
                width: 200px;
                height: 85vh;
                background-color: rgb(157, 154, 154);
            }
            .menu--open
            {
                transform: none;
            }
            .schedule
            {
                transform: translateX(-260px);
                transition: all .5s ease-out;
                width: 250px;
                height: 100vh;
                background-color: rgb(255, 255, 255);
            }
            .schedule--open
            {
                transform: none;
            }
            .calendar-wrapper 
            {
                height: 27vh;
                width: 250px;
                margin-top: 0vh;
            }
            td 
            {
                height: 25px;
                width: 14.28571429%;
            }
            thead td 
            {
                font-size: 1em;
            }
            #btnPrev
            {
                margin-bottom: 2px;
            }
            #btnPrev:before 
            {
                padding-right: 2px;
            }
            #btnNext
            {
                margin-bottom: 2px;
            }
            #btnNext:after 
            {
                padding-left: 2px;
            }
            #btnPrev,
            #btnNext 
            {
                font-size: .7em;
            }
            .timetable
            {
                width: 250px;
            }
            .timing
            {
                width: 250px;
            }
            .hour
            {
                width: 50px;
            }
            .description
            {
                width: 200px;
            }
            .description1
            {
                width: 200px;
            }
            .img
            {
                display: none;
            }
            .img1
            {
                display: none;
            }
            .img2
            {
                display: none;
            }
            .main
            {
                right: 12px;
                width: 400px;
                margin-left: 0;
                border-right: none;
            }
            .header
            {
                width: 340px;
            }
            .head
            {
                width: 340px;
            }
            .submenu
            {
                width: 360px;
                font-size: 1rem;
            }
            .info
            {
                width: 370px;
            }
            .banner
            {
                background: url(geometry.jpeg);
                background-size: 350px 150px;
                width: 350px;
                height: 120px;
            }
            .banner1
            {
                background-size: 350px 150px;
                width: 350px;
                height: 120px;
            }
            .banner2
            {
                background: url(flowcast.png);
                background-size: 350px 150px;
                width: 350px;
                height: 120px;
            }
            .banner3
            {
                background: url(flowcast1.png);
                background-size: 350px 150px;
                width: 350px;
                height: 120px;
            }
            .avatar
            {
                font-size: 2.5rem;
                width: 3rem;
                height: 3rem;
            }
            .name
            {
                font-size: 1rem;
            }
            .city
            {
                font-size: 0.8rem;
            }
            .input
            {
                width: 100px;
                height: 40px;
            }
            .loop
            {
                font-size: 2rem;
                margin-left: -10px;
            }
            .button_for_turn_back
            {
                font-size: 2rem;
                margin-left: -20px;
            }
            h1
            {
                font-size: 1.5rem;
            }
            .text1
            {
                font-size: 1rem;
            }
            .bottom
            {
                font-size: 0.8rem;
            }
            .someinfo
            {
                margin-left: 40px;
            }
            .image
            {
                display: none;
            }
            .maininfo
            {
                color: rgba(254, 252, 252, 0.758);
                margin-top: 10px;
            }
            .text
            {
                color: white;
                font-size: 1.5rem;
                margin-top: 40px;
            }
            .someinfo2
            {
                margin-left: 40px;
            }
            .image2
            {
                display: none;
            }
            .maininfo2
            {
                color: rgba(4, 4, 4, 0.758);
                margin-top: 10px;
            }
            .text2
            {
                color: rgb(3, 3, 3);
                font-size: 1.5rem;
                margin-top: 40px;
            }
            .someinfo3
            {
                margin-left: 40px;
            }
            .image3
            {
                display: none;
            }
            .maininfo3
            {
                color: rgba(254, 252, 252, 0.758);
                margin-top: 10px;
            }
            .text3
            {
                color: white;
                font-size: 1.5rem;
                margin-top: 40px;
            }
            .button
            {
                display: block;
            }
            .button1
            {
                display: block;
            }
            .logo
            {
                margin-left: 60px;
            }
            .points
            {
                margin-left: 3px;
            }
            .logout
            {
                margin-left: 3px;
            }
            .timetable_title
            {
                font-size: 1rem;
            }
        }